.imgPhoneSectMain5{
    
    width: 72px;
    height: 128px;
}
.containerImgsSectMain5{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

@media (min-width:1280px) {
    .imgPhoneSectMain5{
        width: 210px;
        height: 340px;
    }
    .MuiContainer-root.MuiContainer-maxWidthLg.ContainerSectMain5.css-159ob76-MuiContainer-root{
        max-width: 100%;
    }
}