.divContainerBtnsConoceDemo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btnSolicitarDemoSect10.css-1r6a4eg-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #3A87D9;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.btnConoceBeneficiosSect10.css-18jrhcw-MuiButtonBase-root-MuiButton-root{
    background-color: #5807D3;
}
@media (min-width:720px) {
    .divContainerBtnsConoceDemo{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 580px;
    }
}